// Severity should be one of the following: 0 = off, 1 = warn, 2 = error
{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "no-console": 1,
    "max-len": [2, 120],
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/href-no-hash": "off",
    "import/no-extraneous-dependencies": "off"
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  }
}
